// BASE TYPOGRAPHY STYLES
////////////////////////////////////////////////////////////////////////////////

body {
    @include font-smoothing(on);
    // background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $base-line-height;
    -moz-font-feature-settings: 'liga', 'kern';
    -moz-font-feature-settings:'liga=1, kern=1';
    -ms-font-feature-settings:'liga', 'kern';
    -o-font-feature-settings:'liga', 'kern';
    -webkit-font-feature-settings:'liga', 'kern';
    font-feature-settings: 'liga', 'kern';
  &.ci2008 {
    background-image: url('../images/blue-texture.png');
  }
  &.ci2013 {
    background-image: url('../images/ci2013-bg.jpg');
    background-size: cover;
    @include media($small) {
      background-size: contain;
      background-attachment: fixed;
    }
  }
  &#tinymce {
    background-image: none;
  }
}

.accent-text {
  font-family: $accent-font-family;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em;
  font-family: $base-font-family;
  font-weight: 400;
  text-transform: uppercase;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings ? this doesn’t seem to have any effect - nk
}

h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing 0;
 }

p {
  margin: 0 0 $base-spacing 0;
}

a {
  transition: color, 0.2s;
  position: relative;
  text-decoration: none;
  color: $base-link-color;
  padding-bottom: 2px;

  &:hover {
    color: $hover-link-color;
    text-decoration: underline;
  }

/*
&:hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1px;
    width: 100%;
    background: $hover-link-color;
    background: linear-gradient(left,$hover-link-color 100%);
  }
*/

  &:active,
  // &:focus
  {
    color: $hover-link-color;
  }

  &:focus {
    // outline: 2px solid $red;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;

  &.large {
    margin: $large-spacing 0;
  }
}

figure {
  margin: 0 0 $base-spacing 0;
  max-width: 100%;
  img {
    height: auto;
  }
}

figcaption {
  margin: $base-spacing 0 $base-spacing 0;
  max-width: 100%;
}


img,
picture {
  margin: 0;
  max-width: 100%;
}

pre {
  margin: 0;
  background: rgba($teal, .25);
  display: inline;
}

blockquote {
  padding: 0 $base-spacing;
}

cite {
  font-style: italic;
}

// Alternate section colors
////////////////////////////////////////////////////////////////////////////////
%inverse {
  color: $inverse-font-color;

  a {
    color: $action-color;

    &:hover {
      color: $action-hover-color;
    }

    &:active, &:focus {
      color: $action-hover-color;
      outline: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $inverse-font-color;
  }

  pre {
    border-color: $inverse-font-color;
  }

  hr {
    border-color: rgba(#fff, .25);
  }

}
