.article-list {
    margin-bottom: $large-spacing;
    overflow: auto;

  &__section-number {
    position: absolute;
  }
  &.-participants {
    margin-bottom: $large-spacing;
  }
}

.article-item {
  margin-left: 70px;
  margin-bottom: $base-spacing;

  @include media($extra-small) {
    margin-left: 60px;
  }

  &__date {
    margin-bottom: $base-spacing;
  }

  .link-download,
  .moretag {
    text-transform: uppercase;
  }

  &.international {
    .article-item__author, .label {
      text-transform: uppercase;
    }
    .entry-summary {
      margin-top: $small-spacing;
    }
  }
}

.article-image, .article-link {
  margin-left: 70px;

  @include media($extra-small) {
    margin-left: 60px;
  }
}

.article-image {
  figure {
    margin-bottom: 0;
  }
}
