header {
  margin-bottom: $medium-spacing;
  overflow: hidden;

  .logotype {
    @include span-columns(2);
    @include media($large) {
      @include span-columns(3);
    }
    @include media($small) {
      @include span-columns(3);
    }
    @include media($extra-small) {
      @include span-columns(3);
    }
  }

  .logotype a {
    color: $base-font-color;

    &:hover {
      color: $action-color;
      text-decoration: none;
    }

    &:hover::after {
      background: none;
    }

    &:active, &:focus {
      color: $action-color;
      outline: none;
    }
}

  .logo-address {
    display: none;
    [itemprop="telephone"], [property="telephone"] {
      speak: spell-out;
    }
  }
}
