.main-nav {
  list-style-position: inside;
  margin-top: 0;
  padding-left: 0;
  li {
    margin-bottom: 0;
    text-transform: uppercase;
    a {
      margin-left: 1.5rem;
      @include media($extra-small) {
        margin-left: 1rem;
      }
    }
  }
}
