.main-nav {
  list-style-position: inside;
  margin-top: 0;
  padding-left: 0;
  li {
    margin-bottom: 0;
    text-transform: uppercase;
    a {
      margin-left: 1.5rem;
      @include media($extra-small) {
        margin-left: 1rem;
      }
    }
  }
}

.post-nav {
  clear: both;
  &__link {
    position: relative;
    &.-previous, &.-next {
      margin-left: 50px;
      text-transform: uppercase;
    }
  }
}

.page-nav {
  padding-top: $medium-spacing;
  clear: both;
  @include media($extra-small) {
    display: none;
  }
}

.mobile-nav-link {
  display: none;
  position: absolute;
  top: 2em;
  right: 2em;
  text-transform: uppercase;

  &:after {
    content: "☰";
    display: inline-block;
    width: 10px;
  }

  @include media($extra-small) {
    display: block;
  }

  &.open:after {
    content: "×";
    font-size: 1.75em;
    line-height: 10px;
    vertical-align: -3px;
  }
}

.mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  nav {
    @include shift(2.5);
  }
}
