.page-header {
  margin-bottom: $base-spacing;
  overflow: hidden;
  &__title {
    display: inline-block;
    margin-left: 60px;

    @include media($extra-small) {
      margin-left: 60px;
    }

    &.underline {
      margin-bottom: $small-spacing;
      @extend %dash-underline;
      padding-bottom: 0.875em;
    }
  }
  &__back-button {
    float: right;
    text-transform: uppercase;
  }
}
