.page-content {
  position: relative;
  @include span-columns(10);

  @include media($extra-small) {
    @include span-columns(6);
  }

  &__body {
    margin-left: 60px;

    @include media($extra-small) {
      margin-left: 60px;
    }
  }
}
