.search-form {
  position: relative;
  margin-left: 70px;
  max-width: 50%;
  border: 1px solid $medium-gray;
  @include media($small) {
    margin-left: 60px;
    max-width: none;
  }

  .icon-search {
    position: absolute;
    top: 5px;
    right: 6px;
  }
}

.mobile-nav .search-form {
  margin-left: 39px;
}

input[type="search"]:focus::-webkit-input-placeholder {
    color:transparent;
}
input[type="search"]:focus::-moz-placeholder {
    color:transparent;
}

.input-underline {
  display: block;
  margin: -5px 0;
  height: 1rem;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
}
