.search-form {
  margin-left: 50px;
  max-width: 50%;
  @include media($small) {
    max-width: none;
  }
  @include media($extra-small) {
    margin-left: 37px;
  }
}

.input-underline {
  display: block;
  margin: -5px 0;
  height: 1rem;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
}
