.search-form {
  margin-left: 54px;
  max-width: 50%;
  @include media($small) {
    max-width: none;
  }
  @include media($extra-small) {
    margin-left: 39px;
  }
}

#search-field:focus::-webkit-input-placeholder {
    color:transparent;
}
#search-field:focus::-moz-placeholder {
    color:transparent;
}

.input-underline {
  display: block;
  margin: -5px 0;
  height: 1rem;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
}
