.search-form {
  margin-left: 50px;
  max-width: 50%;
  @include media($small) {
    max-width: none;
  }
}

.mobile-nav .search-form {
  margin-left: 39px;
}

input[type="search"]:focus::-webkit-input-placeholder {
    color:transparent;
}
input[type="search"]:focus::-moz-placeholder {
    color:transparent;
}

.input-underline {
  display: block;
  margin: -5px 0;
  height: 1rem;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
}
